<div id="hero" class="row justify-content-md-center">
	<div id="title-wrapper" class="col">
		<div id="name">4 Roots Farm</div>
		<div id="description">Delicious veggies grown locally, with love.</div>
	</div>
	<img src="images/4roots1.jpg" alt="4 Roots Farm" class="img-fluid">
</div>

<div id="container">
	<h1 id="welcome">Welcome to our CSA program</h1>
	<div id="cards">
		<p>4 Roots Farm is a Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos, magnam maxime consectetur, atque corrupti facere amet consequuntur, quod laborum voluptate. Debitis provident obcaecati, iste dolor voluptas quos a eligendi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nam laborum dolores odit soluta maiores modi accusantium, nobis sed quidem veritatis provident ex eius explicabo esse numquam. Incidunt, atque optio.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta rerum fuga officiis facilis nulla odio quibusdam et at recusandae, incidunt, culpa laborum nemo suscipit aut omnis harum cum fugiat blanditiis.</p>
	</div>
	<img src="images/4roots2.jpg" alt="4 Roots Farm">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugit doloribus voluptas non qui nihil, omnis, sunt fuga nulla enim ea cum, asperiores quasi beatae quaerat sint, repudiandae a quis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis atque nam commodi et at fuga minima quo repellendus, optio quas! Suscipit soluta eveniet illo voluptate fuga eum eius error ipsam!</p>
</div>

<div id="footer">
	<div id="contact">
		<h3>Contact us!</h3>
		<p>info@4rootsfarm.com</p>
		<p>(555) 555-5555</p>
		<p>PO Box 555</p>
		<p>City, State, Zip</p>
	</div>
	<div id="sign-up">
		<h3>Sign Up Now!</h3>

	</div>
</div>